<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        Account Settings
      </h2>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-10 col-lg-8 col-xl-6">

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" role="form" novalidate>
        <fieldset class="form-group" [attr.disabled]="formDisabled ? true : null">
          <label>Account Name</label>
          <input name="accountName" [ngModel]="activeAccount.accountName" required #accountName="ngModel"
                 class="form-control" type="text" value="{{accountName.value}}">

          <label>Street Address</label>
          <input name="streetAddress" [ngModel]="activeAccount.streetAddress" required #streetAddress="ngModel"
                 class="form-control" type="text" value="{{streetAddress.value}}">

          <label>City</label>
          <input name="city" [ngModel]="activeAccount.city" required #city="ngModel"
                 class="form-control" type="text" value="{{city.value}}">

          <label>State</label>
          <select name="state" [ngModel]="activeAccount.state" required id="stateOption" class="form-control">
            <option value="" disabled>Choose a state</option>
            <option *ngFor="let state of states" [ngValue]="state.abbreviation">
              {{state.fullName}} - {{state.abbreviation}}
            </option>
          </select>

          <label>Zip</label>
          <input name="zip" [ngModel]="activeAccount.zip" required #zip="ngModel"
                 class="form-control" type="number" value="{{zip.value}}">
        </fieldset>

        <button type="button" class="btn btn-secondary" *ngIf="!formDisabled"
                (click)="cancelChanges(f)">Cancel
        </button>
        <button type="submit" class="btn btn-secondary" *ngIf="!formDisabled"
                (click)="onSubmit(f)">Submit
        </button>
        <button type="button" class="btn btn-secondary" *ngIf="formDisabled"
                (click)="formDisabled = !formDisabled"
                [attr.disabled]="savingState ? true : null">Make Changes
        </button>
        &nbsp;&nbsp;&nbsp;<i class="fa fa-lg fa-cog fa-spin" *ngIf="savingState"></i>
      </form>

    </div>
  </div>
  <!-- /.row -->

</div>
