<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Manage Views
      </h2>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-block table-responsive">
        <table class="table table-hover"> <!-- Use table-sm class if necessary to shrink -->
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Creator</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dbview of dbviews" [class.table-active]="dbview === activeView">
            <td>{{dbview.name}}</td>
            <td>{{dbview.description}}</td>
            <td>{{dbview.owner}}</td>
            <td class="text-center">
              <a href="Javascript:void(0)">
                <i class="fa fa-lg fa-square-o"
                   [ngClass]="{'fa-square-o': dbview !== activeView,
                               'fa-check-square-o': dbview === activeView}"
                   (click)="applyView(dbview)"></i></a>&nbsp;&nbsp;
              <a href="Javascript:void(0)"><i class="fa fa-lg fa-trash"
                                              (click)="delete(dbview.viewId)"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card card-block">
        <h4>Key</h4>
        <i class="fa fa-lg fa-fw fa-check-square-o text-primary"></i>&nbsp;&nbsp;Active View<br>
        <i class="fa fa-lg fa-fw fa-trash text-primary"></i>&nbsp;&nbsp;Delete View<br>
      </div>
    </div>
    <div class="col-md-6 col-lg-8">
      <button type="button" class="btn btn-secondary pull-right" href="Javascript:void(0)">Add View</button>
    </div>
  </div>
</div>
