* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #DDD;
  /*width: 1200px;*/
  /*max-width: 1200px;*/
  min-height: 600px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  width: 150px;
  height: 150px;
  float: left;
  background: #C09;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 {
  width: 300px;
}

.grid-item--height2 {
  height: 300px;
}

.grid-item--large {
  width: 300px;
  height: 300px;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  /*outline: 3px dashed hsla(0, 0%, 0%, 0.5);*/
  /*outline-offset: -6px;*/
  /*-webkit-transition: -webkit-transform 0.2s;*/
  /*transition: transform 0.2s;*/
}

.grid-item.is-editable {
  border-style: dashed;
}

.grid-item.is-editable:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}
