.table td.text-center,
.table th.text-center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.buffer {
  &-top {
    margin-top: 1em;
  }
  &-bottom {
    margin-bottom: 1em;
  }
  &-left {
    margin-left: 1em;
  }
  &-right {
    margin-right: 1em;
  }
}
