.table td.text-center,
.table th.text-center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.buffer {
  &-top {
    margin-top: 1em;
  }
  &-bottom {
    margin-bottom: 1em;
  }
  &-left {
    margin-left: 1em;
  }
  &-right {
    margin-right: 1em;
  }
}

.shown {
  display: block;
}

.modal-dialog {
  margin-top: 200px;
}

.box-shadow {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
