<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Services
      </h2>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-block">
        <table class="table table-hover"> <!-- Use table-sm class if necessary to shrink -->
          <thead>
          <tr>
            <th>#</th>
            <th>Service Id</th>
            <th>Description</th>
            <th>Type</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Light1</td>
            <td>The lights in Otto's room</td>
            <td>IoT</td>
            <td><i class="fa fa-lg fa-arrow-up text-success"></i></td>
            <td>
              <a href><i class="fa fa-lg fa-gear"></i></a>&nbsp;&nbsp;
              <a href><i class="fa fa-lg fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Light2</td>
            <td>The lights in Thornton's room</td>
            <td>IoT</td>
            <td><i class="fa fa-lg fa-arrow-up text-success"></i></td>
            <td>
              <a href><i class="fa fa-lg fa-gear"></i></a>&nbsp;&nbsp;
              <a href><i class="fa fa-lg fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>WeatherUnderground</td>
            <td>Provides weather information for the area</td>
            <td>Online</td>
            <td><i class="fa fa-lg fa-arrow-down text-danger"></i></td>
            <td>
              <a href><i class="fa fa-lg fa-gear"></i></a>&nbsp;&nbsp;
              <a href><i class="fa fa-lg fa-trash"></i></a>
            </td>
          </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-secondary pull-right">Add Service</button>
      </div>
    </div>
  </div>
</div>
